* {
    /* Fix issue with extra space on the side when adding padding */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serifs;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

header .background {
    height: 100%;
    transform-origin: left;
    background-color: #38bdf8;
    z-index: -100;
}

header > .background, .introduction {
    grid-row-start: 1;
    grid-column-start: 1;
    margin-bottom: 20px;
}

header .introduction {
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 70px;
}

header .introduction .profile-picture {
    background-image: url("assets/images/portrait.jpg");
    background-position: center;
    background-size: cover;
    float: left;
    position: relative;
    top: -20px;
    left: -20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
}

header .introduction .profile-picture div {
    position: absolute;
    color: white;
    bottom: 0;
    width: 300px;
    font-size: 40px;
    text-align: center;
}

header .introduction .about-me {
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
}

header .introduction .about-me h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 300;
}

header .introduction .about-me p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey;
}

header .introduction .about-me .links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

header .introduction .about-me .links a {
    text-decoration: none;
}

header .introduction .about-me .links img {
    width: 20px;
}

@media (min-width: 1000px) {
    header .background {
        height: 100%;
        transform: skewY(-5deg);
    }

    header .introduction .profile-picture {
        width: 300px;
        height: 300px;
    }  
}

@media (min-width: 501px) and (max-width: 999px) {
    header .background {
        height: 70%;
        transform: skewY(-10deg);
    }
    
    header .introduction {
        margin-top: 120px;
    }

    header .introduction .profile-picture {
        top: -70px;
        width: 250px;
        height: 250px;
        margin-bottom: -50px;
    }

    header .introduction .profile-picture div {
        top: 10px;
        left: 200px;
    }

    header .introduction .about-me h2 {
        text-align: center;
    }
}

@media (max-width: 500px) {
    header .background {
        height: 30%;
        transform: skewY(-10deg);
    }

    header .introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    header .introduction .profile-picture {
        width: 250px;
        height: 300px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 300px;
        min-width: 200px;
        width: calc(100vw - 20px);
    } 

    header .introduction .profile-picture div {
        font-size: 40px;
        max-width: 300px;
        min-width: 200px;
        width: calc(100vw - 20px);
        bottom: 0;
    }

    header .introduction .about-me {
        position: static;
    }

    header .introduction .about-me h2 {
        text-align: center;
    }
}

